In [140]:
import pandas as pd
import numpy as np

from google.colab import drive

drive.mount('/content/gdrive')
root_path = 'gdrive/My Drive/'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [141]:
#df=pd.read_excel('/content/gdrive/MyDrive/SW301_Prediction.xlsx', skiprows=1, sheet_name=2)
df=pd.read_excel('/content/gdrive/MyDrive/SW7.5_Prediction.xlsx')

In [142]:
df["ds"] = df["ds"].astype('datetime64[ns]')
#df = df.drop('SL', axis = 1)
df = df.drop( 'SL' , axis = 1)

In [143]:
df.dtypes

ds                  datetime64[ns]
yhat                       float64
yhat_lower                 float64
yhat_upper                 float64
Unnamed: 5                 float64
Unnamed: 6                 float64
Unnamed: 7                  object
Unnamed: 8                 float64
Unnamed: 9                 float64
ymax                        object
427.018630641613           float64
dtype: object

In [144]:
df.set_index('ds')

,yhat,yhat_lower,yhat_upper,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ymax,427.018630641613
ds,,,,,,,,,,
2000-01-01,88.460810,45.526577,133.359978,NaN,NaN,Rmse,22.06618,NaN,ymin,51.764485
2000-01-02,88.066602,45.092417,130.286512,NaN,NaN,NaN,NaN,NaN,yhatmax,265.819952
2000-01-03,87.600711,42.756863,129.195147,NaN,NaN,NaN,NaN,NaN,yhatmin,55.642309
2000-01-04,87.166630,46.152802,130.787833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,86.733010,42.194057,130.800520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2030-12-27,79.784856,-318.530856,468.818377,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-12-28,79.401348,-315.933083,486.205074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-12-29,79.033476,-324.432139,471.361350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-12-30,78.587962,-325.898082,475.273683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030-12-31,78.167519,-325.798624,481.066092,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
df.tail()

,ds,yhat,yhat_lower,yhat_upper,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,ymax,427.018630641613
11200,2030-12-27,79.784856,-318.530856,468.818377,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11201,2030-12-28,79.401348,-315.933083,486.205074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11202,2030-12-29,79.033476,-324.432139,471.361350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11203,2030-12-30,78.587962,-325.898082,475.273683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11204,2030-12-31,78.167519,-325.798624,481.066092,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
#df['Q (m3/s-1)'] = df['Q (m3/s-1)'].to_numpy()
df['yhat'] = df['yhat'].to_numpy()

In [147]:
#df1 = df.resample('M', on='DATE').agg(np.mean)
df1 = df.resample('M', on='ds').agg(np.mean)

In [148]:
df1

,yhat,yhat_lower,yhat_upper,Unnamed: 5,Unnamed: 6,Unnamed: 8,Unnamed: 9,427.018630641613
ds,,,,,,,,
2000-01-31,83.327655,40.262196,126.626716,NaN,NaN,22.06618,NaN,124.408915
2000-02-29,78.959828,36.213854,121.655584,NaN,NaN,NaN,NaN,NaN
2000-03-31,82.438381,39.449483,125.701249,NaN,NaN,NaN,NaN,NaN
2000-04-30,97.398126,54.737037,140.703891,NaN,NaN,NaN,NaN,NaN
2000-05-31,120.438599,77.561880,163.194791,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2030-08-31,243.213892,-133.565264,624.045581,NaN,NaN,NaN,NaN,NaN
2030-09-30,227.851125,-155.262717,613.227997,NaN,NaN,NaN,NaN,NaN
2030-10-31,171.467183,-218.429666,560.550998,NaN,NaN,NaN,NaN,NaN
2030-11-30,107.264708,-285.824007,499.493337,NaN,NaN,NaN,NaN,NaN
2030-12-31,84.721916,-313.473592,482.480899,NaN,NaN,NaN,NaN,NaN

In [149]:
#df1=df1.drop('yhat_lower ', axis=1)
#df1=df1.drop('yhat_upper ', axis=1)
#df1

In [150]:
#df1.to_excel("SW68A_meanQ.xlsx")
df1.to_excel("mean_predic_SW7.5.xlsx")

In [151]:
#df1.groupby(df.DATE.dt.month)
#df2=df1.groupby(level='month').agg(np.mean)
#df2=df1.groupby(by=['M']).agg(np.mean)

In [152]:
#df2

In [153]:
#df2.to_excel("SW42_Yearly_meanQ.xlsx")